/* .auth-container {
    margin-top: 3em;
    padding: 2em;
    border: .2em solid #e5e5e5;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px #f0f0f0;
} */

/* .login-col {
    border-left: 1px solid black;
} */

.auth-h1 {
    font-size: 6rem;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 1px 1px 2px lightcyan,  0 0 5px white;
}

/* .auth-h4 {
    text-align: center;
    text-shadow: 1px 1px 2px lightcyan, 0 0 40px blue, 0 0 5px yellow;
    padding-bottom: 1rem;
} */

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .auth-container { 
        position: relative;
        margin-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .auth-h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .login-col {
        padding-top: 2rem;
    }
    .auth-h4 {
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        padding-bottom: 1rem;
        font-weight: bold;
    }
}

@media (min-width: 767px) {
    .auth-container {
    margin-top: 3em;
    padding: 2em;
    border: .2em solid #e5e5e5;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px #f0f0f0;
}
.login-col {
    border-left: 1px solid black;
}
.auth-h4 {
    text-align: center;
    padding-bottom: 1rem;
    color:  rgba(115, 209, 156,);
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
}
}

@media (max-width: 479px) {
}



/* iPad Pro PORTRAIT */
@media screen and (max-width: 1024px) {
}
/* iPad Pro LANDSCAPE*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
}
/* iPad PORTRAIT*/
@media screen and (max-width: 769px) {
}
/* iPad LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/* iPhone 6/7/8 Plus PORTRAIT */
@media screen and (max-width: 414px) {
}
/* iPhone 6/7/8 Plus LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 736px) and (orientation : landscape) {
}
/* Pixel 2 & Pixel 2 XL PORTRAIT */
@media screen and (max-width: 412px) {
}
/* Pixel 2 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) {
}
/* Pixel 2 XL LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 823px) and (orientation : landscape) {
}
/* iPhone 6/7/8 & iPhone X PORTRAIT */
@media screen and (max-width: 400px) {
}
/* iPhone 6/7/8 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 667px) and (orientation : landscape) {
}
/* Iphone X LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 822px) and (orientation : landscape) {
}
/* Galaxy S5 PORTRAIT */
@media screen and (max-width: 375px) {
}
/* Galaxy S5 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 640px) and (orientation : landscape) {
}
/* iPhone 5/SE PORTRAIT */
@media screen and (max-width: 330px) {
}
/* iPhone 5/SE LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 568px) and (orientation : landscape) {
}