.auth-container {
    margin-top: 3em;
    padding: 2em;
    border: .2em solid #e5e5e5;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px #f0f0f0;
}

.login-col {
    border-left: 1px solid black;
}

.auth-h1 {
    font-size: 6em;
    text-align: center;

    
}

/* 
.auth-row1 {
    background-color: rgb(22, 145, 167);
    border-radius: .5em;
     padding-bottom: 2em; 
     
}    */

/* iPad Pro PORTRAIT */
@media screen and (max-width: 1024px) {
}
/* iPad Pro LANDSCAPE*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
}
/* iPad PORTRAIT*/
@media screen and (max-width: 769px) {
}
/* iPad LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/* iPhone 6/7/8 Plus PORTRAIT */
@media screen and (max-width: 414px) {
}
/* iPhone 6/7/8 Plus LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 736px) and (orientation : landscape) {
}
/* Pixel 2 & Pixel 2 XL PORTRAIT */
@media screen and (max-width: 412px) {
}
/* Pixel 2 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) {
}
/* Pixel 2 XL LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 823px) and (orientation : landscape) {
}
/* iPhone 6/7/8 & iPhone X PORTRAIT */
@media screen and (max-width: 400px) {
}
/* iPhone 6/7/8 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 667px) and (orientation : landscape) {
}
/* Iphone X LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 822px) and (orientation : landscape) {
}
/* Galaxy S5 PORTRAIT */
@media screen and (max-width: 375px) {
}
/* Galaxy S5 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 640px) and (orientation : landscape) {
}
/* iPhone 5/SE PORTRAIT */
@media screen and (max-width: 330px) {
}
/* iPhone 5/SE LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 568px) and (orientation : landscape) {
}